@import "./vars.scss";
@import "./utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  color: rgb(32, 32, 32);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

textarea,
button,
input.text,
select,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
.input-checkbox {
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
}

// we want to reuse this class
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.back-button {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: transparent;
  color: #333333; // Can't make it transparent as the svg is overlapping :(
  border-radius: 100%;
  transition: all 0.2s;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
  }
}
