:root {
  --color-primary: #306060;
  --color-primary-transparent: #30606073;

  --color-error: #eb1c26;
  --color-success: #148d43;
  --color-info: #338fb9;
  --color-info-transparent: #338fb980;
  --color-warning: rgb(245, 133, 28);
  --color-warning-transparent: rgba(245, 171, 102, 0.5);
}
